<% if user.cover.url %>
  <div class="cover" style="background-image: url(<%= user.cover.url %>); height: 400px; width: 1135px"></div>
<% else %>
  <div class="cover" style="background-image: url(/assets/cover.png);"></div>
<% end %>